<br><br><br><br><br>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Chat Room</div>
    <div class="panel-body" style="margin-bottom: -35px">
                   <span ng-if="chat.fromid == userid">


                      <span style="color:#3b9bff"> <h3>&nbsp;&nbsp;{{"Talking with "}}{{nameheadchat}}</h3></span>


                </span></div>
    <div class="panel-body">
        <div class="col-lg-8">


            <div class="panel panel-default">
                <div class="panel-body" ng-repeat="message in chatroomids">
                   <span ng-if="message.userid != fromuser"> <img src="templateResource/img/usericon.png"
                                                                  class="img-circle" style="width : 50px;height: 50px "
                                                                  alt="danish personal blog and magazine template">
                    <span ng-bind="message.nameofuser" style="color:blue"></span>
                <span ng-if="message.userid == apartment.knowuserid">
                    {{apartment.user.id}}
                {{"(Owner)"}}
            </span>


                    said :
{{message.messageContent}} <br><span><font size="1">{{message.date| date:'medium'}}</font></span>
                    </span>
                    <span style="float:right" ng-if="message.userid == fromuser" >  {{message.messageContent}} <br><span style="float:right"><font size="1">{{message.date| date:'medium'}}</font></span></span>


                    <!--<ul class="nav navbar-nav navbar-right">-->
                    <!--<li><span ng-show="hasRole('user')"><a>-->
                    <!--&lt;!&ndash;ng-href="#/showApartment/{{apartment.id}}"&ndash;&gt;<span-->
                    <!--class="glyphicon glyphicon-remove-circle" aria-hidden="true"-->
                    <!--ng-click="deleteMessage(message.id)"></span></a>-->
                    <!--</span></li>-->
                    <!--<li>&nbsp;&nbsp;</li>-->
                    <!--</ul>-->

                    <!--<span style="color:blue" >-->

                    <!--<a><u> {{"inbox"}}</u></a>-->
                    <!--</span>-->
                    <!--<span style="color:blue">-->

                    <!--<a><u> {{"reply"}}</u></a>-->
                    <!--</span>-->
                    <br>


                </div>
            </div>

            <form>
                <div class="form-group">
                    <!--<label for="comment">Comment:</label>-->
                <textarea class="form-control" rows="5" id="comment" ng-model="yy"
                          placeholder="Type a message..."></textarea>
                </div>

                <button type="submit" class="btn btn-default" ng-click="addMessage(yy)">Post</button>


            </form>
            <br>


        </div>
        <div class="col-lg-4">
            <div class="sidebar-nav">
                <ul class="nav nav-list">

                    <li ng-repeat="user in users | filter">

                        <a href="" ng-click="addChat(user)"> <img src="templateResource/img/usericon.png"
                                                                  class="img-circle" style="width : 10%;height: 10% "
                                                                  alt="danish personal blog and magazine template">
                            {{user.name}}</a>

                    </li>

                </ul>
            </div>
            <!--/.well -->

        </div>
    </div>
</div>