<br><br><br><br><br>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h2 style="color:#82b440">Compare Apartments</h2></div>
    <!--<div class="panel-body">-->
    <!--<div class="col-lg-4">-->
    <!--</div>-->
    <!--<div class="col-lg-6">-->
    <!--<div class="input-group">-->
    <!--<input type="text" class="form-control" placeholder="name..." ng-model="name"/>-->
    <!--<span class="input-group-btn">-->
    <!--<button class="btn btn-default" type="button" ng-click="searchProduct(name)">Search</button>-->
    <!--</span>-->
    <!--</div>-->
    <!--&lt;!&ndash; /input-group &ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash; /.col-lg-6 &ndash;&gt;-->
    <!--</div>-->

    <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="compare in compares">
        <div class="" ng-repeat="apartment in apartments">
            <div ng-if="apartment.id==compare.tempApartmentid">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                        ng-href="#/deleteCompareApartment"><span
                        class="glyphicon glyphicon-remove-circle" aria-hidden="true"
                        ng-click="deleteCompareApartment(compare.id)"></span></a>

                <div class="property-image" ng-repeat="photo in apartment.photos">
                    <img style="width: 100%;height: 250px" alt="mikha real estate theme"
                         ng-src="data:{{photo.contentType}};base64,{{photo.content}}"
                         class="thumbnail">

                    <div class="property-price">
                        <h4>{{apartment.apartmentName}}</h4>
                        <span>{{apartment.rentalFee}} Bath/Month</span>
                    </div>
                    <div class="property-status">
                        <span>For Rent</span>
                    </div>
                </div>
                <div class="property-features">
<span>
<i class="fa fa-home"></i>
{{apartment.roomsize}} m
<sup>2</sup>
</span>
<span>
<i class="fa fa-hdd-o"></i>
{{apartment.numberOfBedroom}} Bed
</span>
                    <!--<span>-->
                    <!--<i class="fa fa-male"></i>-->
                    <!--2 Bath-->
                    <!--</span>-->
                </div>
                <div class="property-content">
                    <h3>
                        <a href="">{{apartment.apartmentName}}</a>
                        <small>{{apartment.addressNo}} {{apartment.street}}
                            {{apartment.subDistrict}}
                            {{apartment.district}}
                            {{apartment.city}}
                            {{apartment.zipCode}}
                        </small>
                    </h3>
                    <span>
<i class="fa fa-envelope-o">
    {{apartment.email}}
</i>

</span>
                    <br>
<span>
<i class="fa fa-phone">
    {{apartment.telephoneNumber}}
</i>

</span>
                </div>
                <div class="property-features">

                </div>

                <div class="property-content">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <ul class="list-unstyled">
                                <li><i ng-hide="airCondition[$index]" class="fa fa-times" style="color:#d11f2a"></i><i
                                        ng-show="airCondition[$index]" class="fa fa-check" style="color:#1fd122"></i>
                                    <small>Air
                                        conditioning
                                    </small>
                                </li>
                                <li><i ng-hide="Fan[$index]" class="fa fa-times" style="color:#d11f2a"></i><i ng-show="Fan[$index]"
                                                                                class="fa fa-check" style="color:#1fd122"></i>
                                    Fan
                                </li>
                                <li><i ng-hide="Waterheater[$index]" class="fa fa-times" style="color:#d11f2a"></i><i
                                        ng-show="Waterheater[$index]" class="fa fa-check" style="color:#1fd122"></i> Water heater
                                </li>
                                <li><i ng-hide="Bed[$index]" class="fa fa-times" style="color:#d11f2a"></i><i ng-show="Bed[$index]"
                                                                                class="fa fa-check" style="color:#1fd122"></i>Bed
                                </li>
                                <li><i ng-hide="Beddingset[$index]" class="fa fa-times" style="color:#d11f2a"></i><i
                                        ng-show="Beddingset[$index]" class="fa fa-check" style="color:#1fd122"></i>Beddingset
                                </li>
                                <li><i ng-hide="Desk[$index]" class="fa fa-times" style="color:#d11f2a"></i><i ng-show="Desk[$index]"
                                                                                 class="fa fa-check" style="color:#1fd122"></i>Desk
                                </li>
                                <li><i ng-hide="Dressingtable[$index]" class="fa fa-times" style="color:#d11f2a"></i><i
                                        ng-show="Dressingtable[$index]" class="fa fa-check" style="color:#1fd122"></i>
                                    Dressingtable
                                </li>
                                <li><i ng-hide="Closet[$index]" class="fa fa-times" style="color:#d11f2a"></i><i ng-show="Closet[$index]"
                                                                                   class="fa fa-check" style="color:#1fd122"></i>
                                    Closet
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <ul class="list-unstyled">
                                <li><i ng-hide="Securityguard[$index]" class="fa fa-times" style="color:#d11f2a"></i><i
                                        ng-show="Securityguard[$index]" class="fa fa-check" style="color:#1fd122"></i>
                                    Securityguard
                                </li>
                                <li><i ng-hide="Fingerprintsecurity[$index]" class="fa fa-times" style="color:#d11f2a"></i><i
                                        ng-show="Fingerprintsecurity[$index]" class="fa fa-check" style="color:#1fd122"></i>
                                    <small>Fingerprint</small>
                                </li>
                                <li><i ng-hide="Keycard[$index]" class="fa fa-times" style="color:#d11f2a"></i><i
                                        ng-show="Keycard[$index]" class="fa fa-check" style="color:#1fd122"></i> Keycard
                                </li>
                                <li><i ng-hide="Microwave[$index]" class="fa fa-times" style="color:#d11f2a"></i><i
                                        ng-show="Microwave[$index]" class="fa fa-check" style="color:#1fd122"></i> Microwave
                                </li>
                                <li><i ng-hide="Sink[$index]" class="fa fa-times" style="color:#d11f2a"></i><i ng-show="Sink[$index]"
                                                                                 class="fa fa-check" style="color:#1fd122"></i>
                                    Sink
                                </li>
                                <li><i ng-hide="CableTV[$index]" class="fa fa-times" style="color:#d11f2a"></i><i
                                        ng-show="CableTV[$index]" class="fa fa-check" style="color:#1fd122"></i> CableTV
                                </li>
                                <li><i ng-hide="Telephone[$index]" class="fa fa-times" style="color:#d11f2a"></i><i
                                        ng-show="Telephone[$index]" class="fa fa-check" style="color:#1fd122"></i> Telephone
                                </li>
                                <li><i ng-hide="Internet[$index]" class="fa fa-times" style="color:#d11f2a"></i><i
                                        ng-show="Internet[$index]" class="fa fa-check" style="color:#1fd122"></i> Internet
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <ul class="list-unstyled">
                                <li><i ng-hide="Petallowed[$index]" class="fa fa-times" style="color:#d11f2a"></i><i
                                        ng-show="Petallowed[$index]" class="fa fa-check" style="color:#1fd122"></i> Pet allowed
                                </li>
                                <li><i ng-hide="Smokingallowed[$index]" class="fa fa-times" style="color:#d11f2a"></i><i
                                        ng-show="Smokingallowed[$index]" class="fa fa-check" style="color:#1fd122"></i>
                                    <small>Smoking
                                        allowed
                                    </small>
                                </li>
                                <li><i ng-hide="Parking[$index]" class="fa fa-times" style="color:#d11f2a"></i><i
                                        ng-show="Parking[$index]" class="fa fa-check" style="color:#1fd122"></i> Parking
                                </li>
                                <li><i ng-hide="Elevator[$index]" class="fa fa-times" style="color:#d11f2a"></i><i
                                        ng-show="Elevator[$index]" class="fa fa-check" style="color:#1fd122"></i> Elevator
                                </li>
                                <li><i ng-hide="InternetCafe[$index]" class="fa fa-times" style="color:#d11f2a"></i><i
                                        ng-show="InternetCafe[$index]" class="fa fa-check" style="color:#1fd122"></i> InternetCafe
                                </li>
                                <li><i ng-hide="CCTV[$index]" class="fa fa-times" style="color:#d11f2a"></i><i ng-show="CCTV[$index]"
                                                                                 class="fa fa-check" style="color:#1fd122"></i>
                                    CCTV
                                </li>
                                <li><i ng-hide="Swimmingpool[$index]" class="fa fa-times" style="color:#d11f2a"></i><i
                                        ng-show="Swimmingpool[$index]" class="fa fa-check" style="color:#1fd122"></i>
                                    <small>Swimming pool</small>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>
                <div class="property-features">

                </div>
                <div class="property-content">
                    <h3>Property Description</h3>

                    <p>{{apartment.detail}}</p>

                </div>
                <div class="property-features">

                </div>
                <div class="property-content">
                    <div class="widget-header">
                        <h3>How many month of stay</h3>
                    </div>
                    <ul class="list-unstyled">
                        <li style="bullet">
                            <input class="long" ng-model="month" id="month" name="month"
                                   placeholder="Input number of month" required/><br><br>
                            <!--<label ng-hide="apartment.apartmentName" for="apartmentName" generated="true" class="error">enter number</label>-->
                            <a href="" class="signup"

                               ng-click="count = count + 1" ng-init="count=0"> Calculate </a>


                            <div class="property-content" ng-if="count >=1">
                                Deposit : {{apartment.deposit}} baht<br>

                                Rental Fee : {{apartment.rentalFee}} baht per month<br>

                                Prepaid : {{apartment.numberOfMonthForprepaid}} month<br>

                                Internet Fee : {{apartment.internetFee}} bath per month<br>

                                Total Pay :
                                    {{apartment.deposit+(apartment.rentalFee*apartment.numberOfMonthForprepaid*month)+apartment.internetFee}}
                                    bath
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Table -->
<!--<div class="row">-->
<!--<div class="col-md-4" ng-repeat="compare in compares">-->
<!--<table class="table table-hover">-->
<!--<tr>-->
<!--&lt;!&ndash;<th>#</th>&ndash;&gt;-->
<!--&lt;!&ndash;<th translate>listProduct.name </th>&ndash;&gt;-->
<!--&lt;!&ndash;<th translate>listProduct.description</th>&ndash;&gt;-->
<!--&lt;!&ndash;<th class="text-right" translate>Rental Fee</th>&ndash;&gt;-->
<!--&lt;!&ndash;<th></th>&ndash;&gt;-->

<!--&lt;!&ndash;<th translate ng-show="hasRole('admin')">listProduct.edit</th>&ndash;&gt;-->
<!--&lt;!&ndash;<th translate ng-show="hasRole('admin')">listProduct.delete</th>&ndash;&gt;-->
<!--&lt;!&ndash;<th translate ng-show="hasRole('user')">listProduct.addToCart</th>&ndash;&gt;-->
<!--</tr>-->
<!--<tr>-->
<!--&lt;!&ndash;<td>{{$index+1}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;<td>{{compare.id}}</td>&ndash;&gt;-->

<!--<td>-->

<!--<div ng-repeat="apartment in apartments" class="text-left">-->
<!--<div ng-if="apartment.id==compare.tempApartmentid">-->
<!--<div class="panel panel-default">-->
<!--<div class="panel-heading">ข้อมูลเบี้องต้น</div>-->
<!--<div class="panel-body">-->
<!--<h3>{{"Apartment Name : "}}{{apartment.apartmentName }}</h3><br>-->

<!--<h3>Type of Apartment : {{apartment.typeOfApartment}}</h3><br>-->

<!--<h3>Tel : {{apartment.telephoneNumber}}</h3><br>-->

<!--<h3>Email : {{apartment.email}}</h3><br>-->

<!--<h3>{{apartment.addressNo}} {{apartment.street}}-->
<!--{{apartment.subDistrict}}-->
<!--{{apartment.district}}-->
<!--{{apartment.city}}-->
<!--{{apartment.zipCode}} </h3>-->
<!--</div>-->
<!--</div>-->
<!--<div class="panel panel-default">-->
<!--&lt;!&ndash; Default panel contents &ndash;&gt;-->
<!--<div class="panel-heading">แผนที่</div>-->
<!--<div class="panel-body">-->


<!--</div>-->
<!--</div>-->


<!--<div class="panel panel-default">-->
<!--&lt;!&ndash; Default panel contents &ndash;&gt;-->
<!--<div class="panel-heading">ภาพถ่าย</div>-->
<!--<div class="panel-body">-->


<!--<div ng-repeat="photo in apartment.photos" class="text-center">-->
<!--<img ng-src="data:{{photo.contentType}};base64,{{photo.content}}"-->
<!--class="thumbnail">-->
<!--</div>-->


<!--</div>-->
<!--</div>-->

<!--<div class="panel panel-default">-->
<!--&lt;!&ndash; Default panel contents &ndash;&gt;-->
<!--<div class="panel-heading">รายละเอียด</div>-->
<!--<div class="panel-body">-->


<!--<h3>{{"Facilities : "}}{{apartment.facilities}}</h3><br>-->

<!--<h3>{{"Type of Room : "}}{{apartment.typeOfRoom}}</h3><br>-->

<!--<h3>{{"Bed room : "}}{{apartment.numberOfBedroom}}</h3><br>-->

<!--<h3>{{"Rooom size : "}}{{apartment.roomsize}}</h3><br>-->

<!--<h3>{{"Rental fee : "}}{{apartment.rentalFee}}</h3><br>-->

<!--<h3>{{"Deposit : "}}{{apartment.deposit}}</h3><br>-->

<!--<h3>{{"Number of month for prepaid :-->
<!--"}}{{apartment.numberOfMonthForprepaid}}</h3><br>-->

<!--<h3>{{"ElectricFee : "}}{{apartment.electricFee}}</h3><br>-->

<!--<h3>{{"Water fee : "}}{{apartment.waterFee}}</h3><br>-->

<!--<h3>{{"Telephone fee : "}}{{apartment.telephoneFee}}</h3><br>-->

<!--<h3>{{"Internet fee : "}}{{apartment.internetFee}}</h3><br>-->

<!--<h3>{{"Type of internet : "}}{{apartment.typeOfInternet}}</h3><br>-->


<!--</div>-->
<!--</div>-->

<!--<div class="panel panel-default">-->
<!--&lt;!&ndash; Default panel contents &ndash;&gt;-->
<!--<div class="panel-heading">รายละเอียดเพิ่มเติม</div>-->
<!--<div class="panel-body">-->
<!--<div class="col-lg-4">-->
<!--<h3>{{apartment.detail}}</h3>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->

<!--<div class="panel panel-default">-->
<!--&lt;!&ndash; Default panel contents &ndash;&gt;-->
<!--<div class="panel-heading">Estimate Total cost</div>-->
<!--<div class="panel-body">-->
<!--<button ng-click="count = count + 1" ng-init="count=0" class="center-block">-->
<!--Calculate-->
<!--</button>-->

<!--<div ng-if="count >=1">-->
<!--<h3>Deposit : {{apartment.deposit}} baht</h3>-->

<!--<h3>Rental Fee : {{apartment.rentalFee}} baht per month</h3>-->

<!--<h3>Prepaid : {{apartment.numberOfMonthForprepaid}} month</h3>-->

<!--<h3>Internet Fee : {{apartment.internetFee}} bath per month</h3>-->

<!--<h3>Total Pay :-->
<!--{{apartment.deposit+(apartment.rentalFee*apartment.numberOfMonthForprepaid)+apartment.internetFee}}-->
<!--bath</h3>-->

<!--</div>-->


<!--</div>-->
<!--</div>-->


<!--</div>-->

<!--</div>-->
<!--</td>-->
<!--&lt;!&ndash;<td>{{apartment.apartmentName}}{{" "}}{{favorite.tempstreet}}{{" "}}{{favorite.tempsubDistrict}}{{" "}}{{favorite.tempdistrict}}{{" "}}{{favorite.tempcity}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;<td class="text-right" >{{favorite.temprentalFee}}{{" "}}{{"bath per month"}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;<td class="text-right" >{{product.totalPrice | number}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;<td>&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-repeat="photo in apartment.photos" class="text-center">&ndash;&gt;-->
<!--&lt;!&ndash;<img ng-src="data:{{photo.contentType}};base64,{{photo.content}}" class="thumbnail">&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</td>&ndash;&gt;-->

<!--&lt;!&ndash;<td class="text-left" ng-show="hasRole('admin')"><a ng-href="#/fixApartment/{{apartment.id}}"> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>&ndash;&gt;-->
<!--&lt;!&ndash;<td class="text-left" ng-show="hasRole('user')"><a ng-href="#/deleteFavorite/{{favorite.id}}"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true" ng-click="deleteFavorite(favorite.id)"></span></a></td>&ndash;&gt;-->
<!--&lt;!&ndash;<td >&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-repeat="image in product.images" class="text-center" >&ndash;&gt;-->
<!--&lt;!&ndash;<img ng-src="data:{{image.contentType}};base64,{{image.content}}" class="thumbnail">&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</td>&ndash;&gt;-->
<!--&lt;!&ndash;<td class="text-center" ng-show="hasRole('admin')"><a ng-href="#/editProduct/{{product.id}}"> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>&ndash;&gt;-->
<!--<td class="text-center" ng-show="hasRole('user')">
<a-->
<!--<a-->
<!--ng-href="#/deleteCompareApartment/{{compare.id}}"><span-->
<!--class="glyphicon glyphicon-remove-circle" aria-hidden="true"-->
<!--ng-click="deleteCompareApartment(compare.id)"></span></a>-->
<!--</td>-->
<!--&lt;!&ndash;<td class="text-center" ng-show="hasRole('user')"><a><span aria-hidden="true" ng-click="addToCart(product)">addProduct</span></a></td>&ndash;&gt;-->
<!--</tr>-->

<!--</table>-->
<!--</div>-->
<!--</div>-->
