<div class="row-fluid">
    <div class="row" ng-show="addPerson">
        <h1>Add new product</h1>
    </div>
    <div class="row" ng-show="editPerson">
        <h1>Edit Product</h1>
    </div>
    <div class="col-md-4">
        <form name="editform" novalidate flow-init>
            <div class="form-group">
                <!-- Sidebar content-->
                <label for="productname">name :</label>
                <input ng-model="product.name" class="form-control" id="productname" name="productname" placeholder="name" required/>

                <div class="alert alert-danger" role="alert" ng-show="editform.productname.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Product name is Required!
                </div>
            </div>
            <div class="form-group">
                <label for="productdescription">Description :</label>
                <input ng-model="product.description" class="form-control" id="productdescription"
                       placeholder="description" name="productdescription" required/>

                <div class="alert alert-danger" role="alert" ng-show="editform.productdescription.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Description is Required!
                </div>

            </div>
            <div class="form-group">
                <label for="productprice">price :</label>
                <input ng-model="product.totalPrice" name="productprice" class="form-control" id="productprice"
                       placeholder="price" type="number" required/>

                <div class="alert alert-danger" role="alert" ng-show="editform.productprice.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Price is Required!
                </div>
                <div class="alert alert-danger" role="alert" ng-show="editform.productprice.$error.number">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter the number!!
                </div>
                <div >
                    <input type="file" flow-btn />
                    <table>
                        <tr ng-repeat="file in $flow.files">
                            <td>{{$index+1}}</td>
                            <td>{{file.name}}</td>
                            <td><img flow-img="$flow.files[{{$index}}]" /></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div ng-repeat="image in product.images" class="text-top-left" ng-show="editPerson" >
                <img ng-src="data:{{image.contentType}};base64,{{image.content}}" class="thumbnail" >
                <a><span class="glyphicon glyphicon-remove-circle" aria-hidden="true" ng-click="deletePicture(image.id)"></span></a>
            </div>

            <button type="submit" class="btn btn-default" ng-click="addProduct($flow)" ng-show="addPerson">Add</button>
            <button type="submit" class="btn btn-default" ng-click="editProduct($flow)" ng-show="editPerson">Edit</button>
        </form>
    </div>
</div>

