<div class="alert alert-success alert-dismissible" role="alert" ng-show="addUserSuccess">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
    <strong>Success!</strong> Register is successful
</div>
<div class="alert alert-success alert-dismissible" role="alert" ng-show="editUserSuccess">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
    <strong>Success!</strong> Your information is updated!
</div>
<div class="alert alert-success alert-dismissible" role="alert" ng-show="deleteUserSuccess">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
    <strong>Success!</strong> Success delete the user
</div>

<br><br><br><br><br>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Apartments</div>
    <div class="panel-body">
        <div class="col-lg-4" >
        </div>
        <div class="col-lg-6" >
            <div class="input-group">
                <input type="text" class="form-control" placeholder="name..." ng-model="name"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="searchProduct(name)">Search</button>
                </span>
            </div>
            <!-- /input-group -->
        </div>
        <!-- /.col-lg-6 -->
    </div>

    <!-- Table -->
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th translate>listProduct.name </th>
            <th translate>listProduct.description</th>
            <th class="text-right" translate>Rental Fee</th>
            <th></th>
            <th></th>
            <th translate ng-show="hasRole('admin')">listProduct.edit</th>
            <th translate ng-show="hasRole('user')">listProduct.delete</th>
            <!--<th translate ng-show="hasRole('user')">listProduct.addToCart</th>-->
        </tr>
        <tr ng-repeat="favorite in favorites" ng-class="{'selected':$index == selectedRow}"
            ng-click="setClickedRow(favorite.tempApartmentid)">
            <td>{{$index+1}}</td>
            <td>{{favorite.tempapartmentName}}</td>
            <td>{{favorite.tempaddressNo}}{{" "}}{{favorite.tempstreet}}{{" "}}{{favorite.tempsubDistrict}}{{" "}}{{favorite.tempdistrict}}{{" "}}{{favorite.tempcity}}</td>
            <td class="text-right" >{{favorite.temprentalFee}}{{" "}}{{"bath per month"}}</td>
            <td class="text-right" >{{product.totalPrice | number}}</td>
            <td >
                <div ng-repeat="photo in apartment.photos" class="text-center" >
                    <img ng-src="data:{{photo.contentType}};base64,{{photo.content}}" class="thumbnail">
                </div>
            </td>

            <td class="text-left" ng-show="hasRole('admin')"><a ng-href="#/fixApartment/{{apartment.id}}"> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
            <td class="text-left" ng-show="hasRole('user')"><a ng-href="#/deleteFavorite/{{favorite.id}}"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true" ng-click="deleteFavorite(favorite.id)"></span></a></td>
            <!--<td >-->
            <!--<div ng-repeat="image in product.images" class="text-center" >-->
            <!--<img ng-src="data:{{image.contentType}};base64,{{image.content}}" class="thumbnail">-->
            <!--</div>-->
            <!--</td>-->
            <!--<td class="text-center" ng-show="hasRole('admin')"><a ng-href="#/editProduct/{{product.id}}"> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>-->
            <!--<td class="text-center" ng-show="hasRole('admin')"><a ng-href="#/listProduct"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true" ng-click="deleteProduct(product.id)"></span></a></td>-->
            <!--<td class="text-center" ng-show="hasRole('user')"><a><span aria-hidden="true" ng-click="addToCart(product)">addProduct</span></a></td>-->
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th class="text-right">{{totalNetPrice | number}}</th>
            <th></th>
            <th></th>
            <th></th>

        </tr>
    </table>
</div>