<!DOCTYPE html>
<html class="th">

<head>


    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta lang="th"/>

    <title>เพิ่มข้อมูลที่พัก</title>

    <meta name="Description"
          content="เวป RentHub.in.th - แหล่งข้อมูล อพาร์ทเม้นท์ หอพัก ห้องพัก ทั่วไทย ข้อมูล update ล่าสุดตลอดเวลา"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">


    <meta name="google-site-verification" content="bp2orbX0wfCeGu6JtJaRwzR5NrJZGbSMeAgPd-rgEcY"/>

    <link href="http://r1.renthub.in.th/assets/application-c768fc6808d0e97d379ccc60bb7b7c9c.css" media="all"
          rel="stylesheet" type="text/css"/>

    <!--<meta content="authenticity_token" name="csrf-param" />-->
    <!--<meta content="wPdZ7iN9BQ3X63GNFckqpkzRW8mrodaZf/hjh/XDiEI=" name="csrf-token" />-->
    <!--<link type="image/ico" href="/favicon.ico" rel="shortcut icon"/>-->

    <!--<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=873784355987942&amp;ev=PixelInitialized" /></noscript>-->

    <!--&lt;!&ndash; start Mixpanel &ndash;&gt;<script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");-->
    <!--for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);-->
    <!--mixpanel.init("9376921a44bfed5071a22b4b2bb0a365");</script>&lt;!&ndash; end Mixpanel &ndash;&gt;-->

</head>
<body class="row-fluid">


<div class="container clearfix box-shadow rounded">
    <div class="gradient_header rounded"><h1>Edit Apartment</h1></div>
    <div class="apartment-form">

        <form name="addApart" novalidate flow-init>
            <!--accept-charset="UTF-8" action="/apartments" class="new_apartment" id="form-for-aparment" method="post"-->
            <!--<div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;"/><input-->
            <!--name="authenticity_token" type="hidden" value="wPdZ7iN9BQ3X63GNFckqpkzRW8mrodaZf/hjh/XDiEI="/></div>-->
            <p class="information notice ">

            </p>

            <div class="step clearfix">
                <h2>1. Apartment information</h2>

                <ul class="form clearfix">
                    <li>
                        <label for="apartmentName">Name</label>
                        <input class="long" ng-model="apartment.apartmentName" id="apartmentName" name="apartmentName"  required/>
                        <label ng-hide="apartment.apartmentName" for="apartmentName" generated="true" class="error">กรุณาระบุชื่อที่พัก</label>

                    </li>
                    </br>

                    <!--<li class="clearfix">-->
                    <!--<label for="apartment_eng_name">-->
                    <!--ชื่อที่พัก (English)-->
                    <!--<i class="new"><b class="blink">NEW !</b></i>-->

                    <!--</label>-->
                    <!--<input class="long" id="temp_eng_name" name="temp[eng_name]" size="30" type="text"/>-->

                    <!--<div class="warning indent" id="no_eng_name"-->
                    <!--style="display: none; margin-top: 10px;   margin-bottom: 0;">-->
                    <!--คุณยังไม่ได้ระบุชื่อที่พัก เป็นภาษาอังกฤษ<br/>-->
                    <!--ถ้าไม่ต้องการแสดงข้อมูลที่พักเป็นภาษาอังกฤษ กรุณากด <a href="#"-->
                    <!--onclick="$('#no_eng_name_check').val(1); $('#no_eng_name').slideUp(); return false;">ยืนยันการไม่ต้องการแสดงข้อมูลภาษาอังกฤษ</a>-->
                    <!--<input id="no_eng_name_check" name="temp[no_eng_name]" type="hidden"/>-->
                    <!--</div>-->
                    <!--</li>-->


                    <li>
                        <label for="ContractPerson">Contract Person</label>
                        <input class="long" ng-model="apartment.ContractPerson" id="ContractPerson"
                               name="ContractPerson"/>
                    </li>
                    </br>
                    <li>
                        <label for="telephoneNumber">Telephone Number</label>
                        <input class="long" ng-model="apartment.telephoneNumber" id="telephoneNumber"
                               name="telephoneNumber"/>

                    </li>
                    </br>
                    <li>
                        <label for="email">Email</label>
                        <input type="email" class="long" ng-model="apartment.email" id="email" name="email"/>
                        <label ng-hide="apartment.email" for="apartmentName" generated="true" class="error">กรุณาระบุอีเมลล์</label>
                        <label ng-show="addApart.email.$error.email" for="apartmentName" generated="true" class="error">ไม่ใช่อีเมลล์ล่ะ</label>
                    </li>
                    </br>

                    <li class="clearfix grouped_input">
                        <label>Address</label>

                        <div class="indent clearfix">
            <span>
                <label for="apartment.addressNo">addressNo</label><br/>
                <input ng-model="apartment.addressNo" class="w150" id="apartment.addressNo" name="apartment.addressNo"
                       size="30" type="text"/>
                <label ng-hide="apartment.addressNo" for="apartmentName" generated="true" class="error">กรุณาระบุชื่อที่พัก</label>

            </span>
            <span>
                <label for="apartment.street">street</label><br/>
                <input ng-model="apartment.street" class="w150" id="apartment.street" name="apartment.street" size="30"
                       type="text"/>
            </span>
            <span>
                <label for="apartment.city">city</label><br/>
                <input ng-model="apartment.city" class="w150" id="apartment.city" name="apartment.city" size="30"
                       type="text"/>
            </span>
                        </div>
                        <div class="indent clearfix">
                 <span>
                <label for="apartment.district">District</label><br/>
                <input ng-model="apartment.district" class="w150" id="apartment.district" name="apartment.district"
                       size="30" type="text"/>
            </span>

            <span>
                <label for="apartment.subDistrict">subDistrict</label><br/>
                <input ng-model="apartment.subDistrict" class="w150" id="apartment.subDistrict"
                       name="apartment.subDistrict" size="30" type="text"/>
            </span>

             <span>
                <label for="apartment.zipCode">zipCode</label><br/>
                <input ng-model="apartment.zipCode" class="w150" id="apartment.zipCode" name="apartment.zipCode"
                       size="30" type="text"/>
            </span>

                        </div>
                    </li>

                    <li>


                        <label for="typeOfApartment1">Service apartment</label>
                        <input class="String" type="checkbox" ng-model="apartment.typeOfApartment"
                               id="typeOfApartment1" ng-true-value="Service apartment" ng-false-value=""
                               name="Service apartment">

                        <br/> <br/>

                        Note<br>
                        Serviced Apartment is an apartment which provides service same as hotel service.<br>


                    </li>
                </ul>


            </div>


            <div class="step clearfix">
                <h2>2. Facilities</h2>

                <div class="clearfix">

                    <div class="facility_choice">


                        <label for="typeOfApartment2">Air condition</label>
                        <input type="checkbox" ng-model="typeOfApartments[0]"
                               id="typeOfApartment2" value="Service apartment" name="Service apartment"></br></br></br>


                        <label for="typeOfApartment3">Fan </label>
                        <input type="checkbox" ng-model="typeOfApartments[1]"
                               id="typeOfApartment3" value="Service apartment" name="Service apartment"></br></br>

                        <label for="typeOfApartment4">Water heater </label>
                        <input type="checkbox" ng-model="typeOfApartments[2]"
                               id="typeOfApartment4" value="Service apartment" name="Service apartment"></br></br></br>

                        <label for="typeOfApartment5">Bed </label>
                        <input type="checkbox" ng-model="typeOfApartments[3]"
                               id="typeOfApartment5" value="Service apartment" name="Service apartment"></br></br>


                        <label for="typeOfApartment6">Bedding set </label>
                        <input type="checkbox" ng-model="typeOfApartments[4]"
                               id="typeOfApartment6" value="Service apartment" name="Service apartment"></br></br>

                        <label for="typeOfApartment7">Desk </label>
                        <input type="checkbox" ng-model="typeOfApartments[5]"
                               id="typeOfApartment7" value="Service apartment" name="Service apartment"></br></br>

                        <label for="typeOfApartment8">Dressing table</label>
                        <input type="checkbox" ng-model="typeOfApartments[6]"
                               id="typeOfApartment8" value="Service apartment" name="Service apartment"></br></br></br>


                        <label for="typeOfApartment9">Closet </label>
                        <input type="checkbox" ng-model="typeOfApartments[7]"
                               id="typeOfApartment9" value="Service apartment" name="Service apartment"></br></br>

                        <label for="typeOfApartment100">Security guard </label>
                        <input type="checkbox" ng-model="typeOfApartments[8]"
                               id="typeOfApartment100" value="Service apartment"
                               name="Service apartment"></br></br></br>

                        <label for="typeOfApartment101">Fingerprint security </label>
                        <input type="checkbox" ng-model="typeOfApartments[9]"
                               id="typeOfApartment101" value="Service apartment"
                               name="Service apartment"></br></br></br>

                        <label for="typeOfApartment102">Key card </label>
                        <input type="checkbox" ng-model="typeOfApartments[10]"
                               id="typeOfApartment102" value="Service apartment" name="Service apartment"></br></br>

                        <label for="typeOfApartment103">Microwave </label>
                        <input type="checkbox" ng-model="typeOfApartments[11]"
                               id="typeOfApartment103" value="Service apartment" name="Service apartment"></br></br>


                    </div>
                    <div class="facility_choice">

                        <label for="typeOfApartment11">Sink</label>
                        <input type="checkbox" ng-model="typeOfApartments[12]"
                               id="typeOfApartment11" value="Service apartment" name="Service apartment"></br></br>


                        <label for="typeOfApartment12">Cable TV </label>
                        <input type="checkbox" ng-model="typeOfApartments[13]"
                               id="typeOfApartment12" value="Service apartment" name="Service apartment"></br></br>

                        <label for="typeOfApartment13">Telephone </label>
                        <input type="checkbox" ng-model="typeOfApartments[14]"
                               id="typeOfApartment13" value="Service apartment" name="Service apartment"></br></br>

                        <label for="typeOfApartment14">Internet</label>
                        <input type="checkbox" ng-model="typeOfApartments[15]"
                               id="typeOfApartment14" value="Service apartment" name="Service apartment"></br></br>


                        <label for="typeOfApartment15">Pet allowed </label>
                        <input type="checkbox" ng-model="typeOfApartments[16]"
                               id="typeOfApartment15" value="Service apartment" name="Service apartment"></br></br>

                        <label for="typeOfApartment16">Smoking allowed </label>
                        <input type="checkbox" ng-model="typeOfApartments[17]"
                               id="typeOfApartment16" value="Service apartment" name="Service apartment"></br></br></br>

                        <label for="typeOfApartment17">Parking</label>
                        <input type="checkbox" ng-model="typeOfApartments[18]"
                               id="typeOfApartment17" value="Service apartment" name="Service apartment"></br></br>


                        <label for="typeOfApartment18">Elevator </label>
                        <input type="checkbox" ng-model="typeOfApartments[19]"
                               id="typeOfApartment18" value="Service apartment" name="Service apartment"></br></br>

                        <label for="typeOfApartment19">Internet Café </label>
                        <input type="checkbox" ng-model="typeOfApartments[20]"
                               id="typeOfApartment19" value="Service apartment" name="Service apartment"></br></br></br>

                        <label for="typeOfApartment107">CCTV </label>
                        <input type="checkbox" ng-model="typeOfApartments[21]"
                               id="typeOfApartment107" value="Service apartment" name="Service apartment"></br></br>

                        <label for="typeOfApartment108">Swimming pool </label>
                        <input type="checkbox" ng-model="typeOfApartments[22]"
                               id="typeOfApartment108" value="Service apartment"
                               name="Service apartment"></br></br></br>


                    </div>
                </div>
            </div>
            <div class="step clearfix">
                <ul class="form clearfix">
                    <h2>3. Type of room</h2>
                    <li>
                        <label for="ContractPerson">Type of room</label>
                        <input class="long" ng-model="apartment.typeOfRoom" id="typeOfRoom"
                               name="typeOfRoom"/>
                    </li>
                    </br>
                    <li>
                        <label for="numberOfBedroom">Number of Bedroom</label>
                        <input class="long" ng-model="apartment.numberOfBedroom" id="numberOfBedroom"
                               name="numberOfBedroom"/>

                    </li>
                    </br>
                    <li>
                        <label for="roomsize">Roomsize</label>
                        <input class="long" ng-model="apartment.roomsize" id="roomsize" name="roomsize"/>

                    </li>
                    </br>
                </ul>
            </div>

            <div class="step clearfix">
                <h2>4. Cost</h2>
                <ul class="form clearfix fee">
                    <li>
                        <label for="rentalFee">rental Fee</label>
                        <input class="long" ng-model="apartment.rentalFee" id="rentalFee"
                               name="rentalFee"/>
                    </li>
                    </br>
                    <li>
                        <label for="deposit">deposit</label>
                        <input class="long" ng-model="apartment.deposit" id="deposit"
                               name="deposit"/>

                    </li>
                    </br>
                    <li>
                        <label for="numberOfMonthForprepaid">Prepaid</label>
                        <input class="long" ng-model="apartment.numberOfMonthForprepaid"
                               id="numberOfMonthForprepaid" name="numberOfMonthForprepaid"/>

                    </li>
                    </br></br>
                    <li>
                        <label for="electricFee">electric Fee</label>
                        <input class="long" ng-model="apartment.electricFee" id="electricFee"
                               name="electricFee"/>
                    </li>
                    </br>
                    <li>
                        <label for="waterFee">water Fee</label>
                        <input class="long" ng-model="apartment.waterFee" id="waterFee"
                               name="waterFee"/>

                    </li>
                    </br>
                    <li>
                        <label for="TelephoneFee">Telephone Fee</label>
                        <input class="long" ng-model="apartment.TelephoneFee" id="TelephoneFee" name="TelephoneFee"/>

                    </li>
                    </br>
                    <li>
                        <label for="InternetFee">Internet Fee</label>
                        <input class="int" ng-model="apartment.InternetFee" id="InternetFee" name="InternetFee"/>

                    </li>
                    </br>
                    <li>
                        <label for="typeOfInternet">Type of Internet</label>
                        <input class="String" ng-model="apartment.typeOfInternet" id="typeOfInternet"
                               name="typeOfInternet"/>

                    </li>
                    </br>
                </ul>

            </div>
            <div class="step clearfix">
                <h2>5. More detail</h2>
                <ul class="form clearfix detail_inputs">
                    <li>
                        <h4>

                            <!--<i class="new"><b class="blink">NEW !</b></i>-->
                        </h4>

                        <div class="btn-group " id="wysihtml5-toolbar-eng" style="display: none;">
                            <a class="btn" data-wysihtml5-command="bold">Bold</a>
                            <a class="btn" data-wysihtml5-command="italic">italic</a>
                            <a class="btn" data-wysihtml5-command="insertUnorderedList">
                                <i class="icon-list"></i>
                            </a>
                            <a class="btn" data-wysihtml5-command="insertOrderedList">
                                <i class="icon-th-list"></i>
                            </a>
                        </div>

    <textarea id="wysihtml5-detail-eng" name="temp[eng_detail]" cols="90" rows="12" style="width: 730px;">
    </textarea>
                    </li>
                </ul>
            </div>



            <div >
                <input type="file" flow-btn />
                <table>
                    <tr ng-repeat="file in $flow.files">
                        <td>{{$index+1}}</td>
                        <td>{{file.name}}</td>
                        <td><img flow-img="$flow.files[{{$index}}]" /></td>
                    </tr>
                </table>
            </div>

            <td >
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a><span class="glyphicon glyphicon-remove-circle" aria-hidden="true" ng-click="deletePhoto(apartment.id)"></span></a>

                <div ng-repeat="photo in apartment.photos" class="text-center" >
                    <img ng-src="data:{{photo.contentType}};base64,{{photo.content}}" class="thumbnail">
                </div>

            </td>





            <button type="submit" class="btn btn-default" ng-click="editApartment($flow)">Submit</button>
        </form>
    </div>


</div>

<!--<div id="footer">-->
<!--<div id="footer_bg"></div>-->
<!--<div id="footer_content" class="container">-->
<!--<div class="row">-->
<!--<div class="span7">-->
<!--<div class="row">-->
<!--<div class="span2 footer_zones">-->
<!--<h4>หอพักใกล้มหาลัย</h4>-->

<!--<a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก/ม-รามคำแหง">หอพัก รามคำแหง</a>-->
<!--<a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก/ม-หอการค้าไทย">หอพัก หอการค้า</a>-->
<!--<a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก/ม-ธรรมศาสตร์">หอพัก ธรรมศาสตร์</a>-->
<!--<a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก/ม-ธรรมศาสตร์-ศูนย์รังสิต">หอพัก ธรรมศาสตร์ รังสิต</a>-->
<!--<a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก/ม-เอแบค">อพาร์ทเม้นท์ เอแบค</a>-->
<!--<a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก/ม-เอแบค-บางนา">อพาร์ทเม้นท์ เอแบค บางนา</a>-->
<!--<a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก/ม-กรุงเทพ-ศูนย์รังสิต">หอพัก ม.กรุงเทพ รังสิต</a>-->

<!--</div>-->
<!--<div class="span2 footer_zones">-->
<!--<h4>ที่พักย่านธุรกิจ</h4>-->

<!--<a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก/อนุสาวรีย์ชัยฯ">อพาร์ทเม้นท์ อนุสาวรีย์ฯ</a>-->
<!--<a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก/สะพานควาย">อพาร์ทเม้นท์ สะพานควาย</a>-->
<!--<a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก/ถนนสุขุมวิท">อพาร์ทเม้นท์ สุขุมวิท</a>-->
<!--<a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก/เขตพญาไท">หอพัก พญาไท</a>-->
<!--<a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก/เขตห้วยขวาง">หอพัก ห้วยขวาง</a>-->
<!--<a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก/ถนนลาดพร้าว">หอพัก ลาดพร้าว</a>-->
<!--<a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก/ถนนรัชดาภิเษก">หอพัก รัชดา</a>-->
<!--</div>-->
<!--<div class="span2 footer_zones">-->
<!--<h4>หอพักต่างจังหวัด</h4>-->

<!--<a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก/เชียงใหม่">หอพัก เชียงใหม่</a>-->
<!--<a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก/ขอนแก่น">หอพัก ขอนแก่น</a>-->
<!--<a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก/พิษณุโลก">หอพัก พิษณุโลก</a>-->
<!--<a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก/นครราชสีมา">หอพัก โคราช</a>-->
<!--<a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก/นนทบุรี">หอพัก นนทบุรี</a>-->
<!--<a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก/สมุทรปราการ">หอพัก สมุทรปราการ</a>-->
<!--<a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก/ปทุมธานี">หอพัก ปทุมธานี</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div id="about" class="clearfix">-->
<!--<ul class="span5">-->
<!--<h4>สำหรับเจ้าของ Apartment</h4>-->
<!--<li>-->
<!--<a ref="nofollow" href="/advertise">โปรโมทที่พัก</a> |-->
<!--<a ref="nofollow" href="/apartments/new">เพิ่มข้อมูล ที่พักของท่าน</a>-->
<!--</li>-->
<!--</ul>-->
<!--<ul class="span5">-->
<!--<li>-->
<!--<img alt="Renthub-logo-small"-->
<!--src="http://r2.renthub.in.th/assets/renthub-logo-small-0080de53eb5bc73ada26481ba3308ce5.png"/>-->
<!--</li>-->
<!--<li>-->
<!--<a href="http://blog.renthub.in.th">Blog</a> |-->
<!--<a ref="nofollow" href="/contact">Contact</a> |-->
<!--<a ref="nofollow" href="/terms">Term of Service</a> |-->
<!--<a ref="nofollow" href="/privacy">Privacy Policy</a>-->
<!--</li>-->
<!--</ul>-->
<!--<p id="copyright" class="span5">-->
<!--Copyright © 2012-2015, Zimple Media Co., Ltd. , All rights reserved.-->
<!--<iframe src="/truehitsstat.html" width="14" height="17" frameborder="0" marginheight="0"-->
<!--marginwidth="0" scrolling="no"></iframe>-->
<!--</p>-->
<!--</div>-->

<!--</div>-->

<!--</div>-->
<!--</div>-->


<!--<div class="modal-backdrop"></div>-->

<!--<script type="text/javascript" language="javascript">-->
<!--var website_variation = "Desktop";-->
<!--var experiment = "";-->
<!--</script>-->


<!--<script src="http://r2.renthub.in.th/assets/application-feec0c9c8b2ae5507937e17c19c17b3c.js"-->
<!--type="text/javascript"></script>-->

<!--<script type="text/javascript">-->
<!--var locale = 'th';-->
<!--</script>-->

<!--<script type="text/javascript" language="javascript">-->
<!--initEditApartment();-->

<!--$(function () {-->
<!--loadMapScript();-->
<!--var user_cookie = $.cookie('user_identity_v3');-->
<!--if (user_cookie != null) {-->
<!--var user_identity = user_cookie.split('&#45;&#45;');-->

<!--if (user_identity[5] == "true") {-->
<!--Intercom('trackEvent', 'Open New Apartment Page');-->
<!--}-->
<!--}-->
<!--});-->

<!--// mixpanel.identify("40614");-->

<!--// mixpanel.people.set({-->
<!--//     "$email": "kamibzdo@gmail.com",-->
<!--//     "$created": "2015-08-22 14:14:59 +0700",-->
<!--//     "$last_login": new Date(),-->

<!--//     "roles": "member"-->
<!--// });-->

<!--// mixpanel.track("Open New Apartment Page");-->


<!--</script>-->

<!--<script async src='//www.google-analytics.com/analytics.js'></script>-->

<!--<script>-->
<!--window.ga = window.ga || function () {-->
<!--(ga.q = ga.q || []).push(arguments)-->
<!--};-->
<!--ga.l = +new Date;-->

<!--ga('create', 'UA-36573193-1', 'renthub.in.th');-->

<!--</script>-->
<!--<script>(function () {-->
<!--var w = window;-->
<!--var ic = w.Intercom;-->
<!--if (typeof ic === "function") {-->
<!--ic('reattach_activator');-->
<!--ic('update', intercomSettings);-->
<!--} else {-->
<!--var d = document;-->
<!--var i = function () {-->
<!--i.c(arguments)-->
<!--};-->
<!--i.q = [];-->
<!--i.c = function (args) {-->
<!--i.q.push(args)-->
<!--};-->
<!--w.Intercom = i;-->
<!--function l() {-->
<!--var s = d.createElement('script');-->
<!--s.type = 'text/javascript';-->
<!--s.async = true;-->
<!--s.src = 'https://widget.intercom.io/widget/koh93kwr';-->
<!--var x = d.getElementsByTagName('script')[0];-->
<!--x.parentNode.insertBefore(s, x);-->
<!--}-->

<!--if (w.attachEvent) {-->
<!--w.attachEvent('onload', l);-->
<!--} else {-->
<!--w.addEventListener('load', l, false);-->
<!--}-->
<!--}-->
<!--})()</script>-->

<!--&lt;!&ndash; Google Code for Remarketing Tag &ndash;&gt;-->

<!--<script type="text/javascript">-->
<!--/* <![CDATA[ */-->
<!--var google_conversion_id = 1034266848;-->
<!--var google_custom_params = window.google_tag_params;-->
<!--var google_remarketing_only = true;-->
<!--/* ]]> */-->
<!--</script>-->
<!--<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">-->
<!--</script>-->
<!--<noscript>-->
<!--<div style="display:inline;">-->
<!--<img height="1" width="1" style="border-style:none;" alt=""-->
<!--src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1034266848/?value=0&amp;guid=ON&amp;script=0"/>-->
<!--</div>-->
<!--</noscript>-->
</body>
</html>
