<div class="sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header"><h2>Menu</h2></li>
        <li ng-class="{true: 'active'}[menuActive('/addProduct')]">
            <a href="#/addProduct">Add Product</a>
        </li>
        <li ng-class="{true: 'active'}[menuActive('/addApartment')]"ng-show="hasRole('admin')">
            <a href="#/addApartment">Add Apartment</a>
        </li>
        <li ng-class="{true: 'active'}[menuActive('/editApartment')]"ng-show="hasRole('admin')">
            <a href="#/editApartment">Edit Apartment</a>
        </li>
        <li ng-class="{true: 'active'}[menuActive('/listProduct')]">
            <a href="#/listProduct">All products</a>
        </li>
        <li ng-class="{true: 'active'}[menuActive('/PostPage')]">
            <a href="#/PostPage">PostPage</a>
        </li>
        <li ng-class="{true: 'active'}[menuActive('/profile')]" ng-show="(hasRole('user')||hasRole('admin'))">
            <a href="#/profile">Profile</a>
        </li>
        <li ng-class="{true: 'active'}[menuActive('/register')]" ng-hide="(hasRole('user')||hasRole('admin'))">
            <a href="#/register">Register</a>
        </li>
        <li ng-class="{true: 'active'}[menuActive('/favorite')]" ng-show="(hasRole('user'))">
            <a href="#/favorite">Favorite</a>
        </li>
        <li ng-class="{true: 'active'}[menuActive('/compareApartment')]" ng-show="(hasRole('user'))">
            <a href="#/compareApartment">Compare Apartment</a>
        </li>
        <li ng-class="{true: 'active'}[menuActive('/chat')]" ng-show="(hasRole('user'))">
            <a href="#/chat">Chat</a>
        </li>
        <li ng-class="{true: 'active'}[menuActive('/shoppingCart')]" ng-show="hasRole('user')">
        <a href="#/shoppingCart">Shopping Cart</a>
    </li>
        <li ng-class="{true: 'active'}[menuActive('/shoppingCart')]" ng-show="hasRole('user')">
            <a href="#/historyCart">History Cart</a>
        </li>
    </ul>
</div><!--/.well -->
