
<div class="alert alert-success alert-dismissible" role="alert" ng-show="addSuccess">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
    <strong>Success!</strong> Success adding a new product
</div>
<div class="alert alert-success alert-dismissible" role="alert" ng-show="editSuccess">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
    <strong>Success!</strong> Success edit the product
</div>
<div class="alert alert-success alert-dismissible" role="alert" ng-show="deleteSuccess">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
    <strong>Success!</strong> Success delete the product
</div>
<br><br><br><br><br>
<div class="the-search">
    <div class="container">
        <div class="row">
            <form role="form">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="form-group">
                        <label for="ApartmentName">Apartment Name</label>
                        <input class="form-control" type="text" name="ApartmentName" id="ApartmentName" placeholder="Apartment Name..." ng-model="name"/>
                    </div>
                </div>
                <!-- break -->
                <div class="col-md-2 col-sm-2 col-xs-6">
                    <div class="form-group">
                        <label for="City">City</label>
                        <input class="form-control" type="text" id="City" name="City"  placeholder="City..." ng-model="city"/>
                    </div>
                </div>
                <!-- break -->
                <div class="col-md-2 col-sm-2 col-xs-6">
                    <div class="form-group">
                        <label for="district">District</label>
                        <input type="text" id="district" class="form-control" placeholder="District..." ng-model="district">
                    </div>
                </div>
                <!-- break -->
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="text" id="price" class="form-control" placeholder="Price..." ng-model="price">
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6">
                    <div class="form-group">
                        <label for="searchMod">&nbsp;</label>
                        <input type="submit" ng-click="searchApartment(name)" name="searchMod" id="searchMod" value="Search" class="btn btn-success btn-block">
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

    <!-- Table -->
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th translate>listProduct.name </th>
            <th translate>listProduct.description</th>
            <th class="text-right" translate>listProduct.netPrice</th>
            <th></th>
            <th class="text-center" translate>listProduct.picture</th>
            <th translate ng-show="hasRole('Administrator')">listProduct.edit</th>
            <th translate ng-show="hasRole('Administrator')">listProduct.delete</th>
            <th translate ng-show="hasRole('user')">listProduct.addToCart</th>
        </tr>
        <tr ng-repeat="apartment in apartments" ng-class="{'selected':$index == selectedRow}"
            ng-click="setClickedRow(apartment.id)">
            <td>{{$index+1}}</td>
            <td>{{apartment.apartmentName}}</td>
            <td>{{apartment.addressNo}}{{" "}}{{apartment.street}}{{" "}}{{apartment.subDistrict}}{{" "}}{{apartment.district}}{{" "}}{{apartment.city}}</td>
            <td class="text-right" >{{apartment.rentalFee}}{{" "}}{{"bath per month"}}</td>
            <td ></td>
            <td >
                <div ng-repeat="photo in apartment.photos |limitTo:1" class="text-center" >
                   <img style="width: 50%;height: 250px" ng-src="data:{{photo.contentType}};base64,{{photo.content}}"alt="mikha real estate theme">
                </div>
            </td>
            <td class="text-center" ng-show="hasRole('Administrator')"><a ng-href="#/fixApartment/{{apartment.id}}"> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
            <td class="text-center" ng-show="hasRole('Administrator')"><a ng-href="#/manager"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true" ng-click="deleteApartment(apartment.id)"></span></a></td>
            <!--<td class="text-center" ng-show="hasRole('Administrator')"><a><span aria-hidden="true" ng-click="addToCart(product)">addProduct</span></a></td>-->
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th class="text-right">{{totalNetPrice | number}}</th>
            <th></th>
            <th></th>
            <th></th>

        </tr>
    </table>
</div>