<!-- begin:header -->

<div id="header" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active" style="background-image: url(../templateResource/img/slide01.jpg);">
        </div>
        <div class="item" style="background-image: url(../templateResource/img/slide02.jpg);">
        </div>
    </div>
    <a class="left carousel-control" href="#header" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#header" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
<!-- end:header -->

<!-- begin:search -->

<div class="the-search">
    <div class="container">

        <div class="row">
            <form role="form">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="form-group">
                        <label for="ApartmentName">Apartment Name</label>
                        <input class="form-control" type="text" name="ApartmentName" id="ApartmentName"
                               placeholder="Apartment Name..." ng-model="name"/>
                    </div>
                </div>
                <!-- break -->
                <div class="col-md-2 col-sm-2 col-xs-6">
                    <div class="form-group">
                        <label for="City">City</label>
                        <input class="form-control" type="text" id="City" name="City" placeholder="City..."
                               ng-model="city"/>
                    </div>
                </div>
                <!-- break -->
                <div class="col-md-2 col-sm-2 col-xs-6">
                    <div class="form-group">
                        <label for="district">District</label>
                        <input type="text" id="district" class="form-control" placeholder="District..."
                               ng-model="district">
                    </div>
                </div>
                <!-- break -->
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="form-group">
                        <label for="price">Price</label>
                        <!--<input type="text" id="price" class="form-control" placeholder="Price..." ng-model="price">-->
                        <div class="dropdown">
                            <select class="form-control" id="price" name="price" ng-init="data.price='0-0'"
                                    ng-model="data.price">
                                <option value="0-0" selected>price</option>
                                <option value="0-5000" selected>0-5000</option>
                                <option value="5001-7500">5001-7500</option>
                                <option value="7501-10000">7501-10000</option>
                                <option value="10001-20000">10001-20000</option>
                                <option value="20001-30000">20001-30000</option>
                                <option value="30001-50000">30001-50000</option>
                                <option value="50001-100000000">More than 50001</option>
                            </select>
                        </div>

                    </div>
                </div>

                <div class="col-md-2 col-sm-2 col-xs-6">
                    <div class="form-group">
                        <label for="searchMod">&nbsp;</label>
                        <input type="submit" ng-click="searchApartment(data.price)" name="searchMod" id="searchMod"
                               value="Search" class="btn btn-success btn-block">
                    </div>
                </div>


                <div>
                    <label>&nbsp;&nbsp;&nbsp;&nbsp;Select facilities</label>

                    <!--<label ng-hide="apartment.apartmentName" for="apartmentName" generated="true" class="error">enter number</label>-->

                    <button ng-click="count = count + 1" ng-init="count=0">
                        <span class="caret"></span>
                    </button>
                    <div class="alert alert-danger alert-dismissible" role="alert" ng-show="FailSearch">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong>No matched found !</strong>
                    </div>
                    <div ng-if="count%2==1">
                        <div class="step clearfix">


                            <div class="clearfix">

                                <div class="facility_choice">


                                    <label for="typeOfApartment2">Air condition</label>
                                    <input type="checkbox" ng-model="typeOfApartments[0]"
                                           id="typeOfApartment2" value="Service apartment" name="Service apartment">&nbsp;&nbsp;&nbsp;


                                    <label for="typeOfApartment3">Fan </label>
                                    <input type="checkbox" ng-model="typeOfApartments[1]"
                                           id="typeOfApartment3" value="Service apartment" name="Service apartment">&nbsp;&nbsp;&nbsp;

                                    <label for="typeOfApartment4">Water heater </label>
                                    <input type="checkbox" ng-model="typeOfApartments[2]"
                                           id="typeOfApartment4" value="Service apartment" name="Service apartment">&nbsp;&nbsp;&nbsp;

                                    <label for="typeOfApartment5">Bed </label>
                                    <input type="checkbox" ng-model="typeOfApartments[3]"
                                           id="typeOfApartment5" value="Service apartment" name="Service apartment">&nbsp;&nbsp;&nbsp;


                                    <label for="typeOfApartment6">Bedding set </label>
                                    <input type="checkbox" ng-model="typeOfApartments[4]"
                                           id="typeOfApartment6" value="Service apartment" name="Service apartment">&nbsp;&nbsp;&nbsp;

                                    <label for="typeOfApartment7">Desk </label>
                                    <input type="checkbox" ng-model="typeOfApartments[5]"
                                           id="typeOfApartment7" value="Service apartment" name="Service apartment">&nbsp;&nbsp;&nbsp;

                                    <label for="typeOfApartment8">Dressing table</label>
                                    <input type="checkbox" ng-model="typeOfApartments[6]"
                                           id="typeOfApartment8" value="Service apartment" name="Service apartment">&nbsp;&nbsp;&nbsp;


                                    <label for="typeOfApartment9">Closet </label>
                                    <input type="checkbox" ng-model="typeOfApartments[7]"
                                           id="typeOfApartment9" value="Service apartment" name="Service apartment">&nbsp;&nbsp;&nbsp;

                                    <label for="typeOfApartment100">Security guard </label>
                                    <input type="checkbox" ng-model="typeOfApartments[8]"
                                           id="typeOfApartment100" value="Service apartment"
                                           name="Service apartment">&nbsp;&nbsp;&nbsp;

                                    <label for="typeOfApartment101">Fingerprint security </label>
                                    <input type="checkbox" ng-model="typeOfApartments[9]"
                                           id="typeOfApartment101" value="Service apartment"
                                           name="Service apartment">&nbsp;&nbsp;&nbsp;

                                    <label for="typeOfApartment102">Key card </label>
                                    <input type="checkbox" ng-model="typeOfApartments[10]"
                                           id="typeOfApartment102" value="Service apartment" name="Service apartment">&nbsp;&nbsp;&nbsp;

                                    <label for="typeOfApartment103">Microwave </label>
                                    <input type="checkbox" ng-model="typeOfApartments[11]"
                                           id="typeOfApartment103" value="Service apartment" name="Service apartment">&nbsp;&nbsp;&nbsp;


                                    <label for="typeOfApartment11">Sink</label>
                                    <input type="checkbox" ng-model="typeOfApartments[12]"
                                           id="typeOfApartment11" value="Service apartment" name="Service apartment">&nbsp;&nbsp;&nbsp;


                                    <label for="typeOfApartment12">Cable TV </label>
                                    <input type="checkbox" ng-model="typeOfApartments[13]"
                                           id="typeOfApartment12" value="Service apartment" name="Service apartment">&nbsp;&nbsp;&nbsp;

                                    <label for="typeOfApartment13">Telephone </label>
                                    <input type="checkbox" ng-model="typeOfApartments[14]"
                                           id="typeOfApartment13" value="Service apartment" name="Service apartment">&nbsp;&nbsp;&nbsp;

                                    <label for="typeOfApartment14">Internet</label>
                                    <input type="checkbox" ng-model="typeOfApartments[15]"
                                           id="typeOfApartment14" value="Service apartment" name="Service apartment">&nbsp;&nbsp;&nbsp;


                                    <label for="typeOfApartment15">Pet allowed </label>
                                    <input type="checkbox" ng-model="typeOfApartments[16]"
                                           id="typeOfApartment15" value="Service apartment" name="Service apartment">&nbsp;&nbsp;&nbsp;

                                    <label for="typeOfApartment16">Smoking allowed </label>
                                    <input type="checkbox" ng-model="typeOfApartments[17]"
                                           id="typeOfApartment16" value="Service apartment" name="Service apartment">&nbsp;&nbsp;&nbsp;

                                    <label for="typeOfApartment17">Parking</label>
                                    <input type="checkbox" ng-model="typeOfApartments[18]"
                                           id="typeOfApartment17" value="Service apartment" name="Service apartment">&nbsp;&nbsp;&nbsp;


                                    <label for="typeOfApartment18">Elevator </label>
                                    <input type="checkbox" ng-model="typeOfApartments[19]"
                                           id="typeOfApartment18" value="Service apartment" name="Service apartment">&nbsp;&nbsp;&nbsp;

                                    <label for="typeOfApartment19">Internet Café </label>
                                    <input type="checkbox" ng-model="typeOfApartments[20]"
                                           id="typeOfApartment19" value="Service apartment" name="Service apartment">&nbsp;&nbsp;&nbsp;

                                    <label for="typeOfApartment107">CCTV </label>
                                    <input type="checkbox" ng-model="typeOfApartments[21]"
                                           id="typeOfApartment107" value="Service apartment" name="Service apartment">&nbsp;&nbsp;&nbsp;

                                    <label for="typeOfApartment108">Swimming pool </label>
                                    <input type="checkbox" ng-model="typeOfApartments[22]"
                                           id="typeOfApartment108" value="Service apartment"
                                           name="Service apartment">&nbsp;&nbsp;&nbsp;


                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </form>
        </div>
    </div>
</div>
<!-- end:search -->
<!-- begin:content -->
<div id="content" style="padding-top: 10px">

    <div class="container">
        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#detail" target="_blank"><i class="fa fa-university"></i>
                Property Detail</a></li>
            <li class=""><a data-toggle="pill" href="#location" target="_blank"><i class="fa fa-paper-plane-o"></i>
                Property Location</a></li>

        </ul>
        <br>

        <div class="row">


            <!-- begin:product -->
            <div class="tab-content">
                <div class="tab-pane fade in active" id="detail">
                    <div class="row container-realestate">
                        <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="apartment in apartments">
                            <div class="property-container">
                                <div class="property-image">
                                    <div ng-repeat="photo in apartment.photos |limitTo:1" class="text-center">
                                        <a href="#showApartment/{{apartment.id}}"> <img
                                                style="width: 100%;height: 250px"
                                                ng-src="data:{{photo.contentType}};base64,{{photo.content}}"
                                                alt="mikha real estate theme"></a>
                                    </div>
                                    <div class="property-price">
                                        <h4>{{apartment.apartmentName}}</h4>
                                        <span>{{apartment.rentalFee}}{{" "}}{{"bath per month"}}</span>
                                    </div>
                                </div>
                                <div class="property-features">
                                    <span><i class="fa fa-home"></i> 5,000 m<sup>2</sup></span>
                                    <span><i class="fa fa-hdd-o"></i> 2 Bed</span>
                                    <span><i class="fa fa-male"></i> 2 Bath</span>
                                </div>
                                <div class="property-content">
                                    <h3><a href="#showApartment/{{apartment.id}}">{{apartment.apartmentName}}</a>
                                        <small>{{apartment.addressNo}}{{" "}}{{apartment.street}}{{"
                                            "}}{{apartment.subDistrict}}{{"
                                            "}}{{apartment.district}}{{" "}}{{apartment.city}}
                                        </small>
                                    </h3>
                                </div>
                                <div class="property-footer">
                                    <a href="" title="Add to favorite" ng-click="addFavorite(apartment)"><i
                                            class="fa fa-heart"></i></a>

                                    <a href="" title="Compare Apartment" ng-click="addCompare(apartment)"><i
                                            class="fa fa-files-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--for map-->
                <div class="tab-pane fade" id="location">
                    <div class="row container-realestate">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div id="map-property"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


