<br><br><br><br><br>
<div class="row-fluid">

    <h1>Profile</h1>

    <div class="col-md-4">
        <form name="editform" novalidate flow-init>
            <!--<div class="form-group">-->
                <!--&lt;!&ndash; Sidebar content&ndash;&gt;-->
                <!--<label for="username">ID :</label>-->
                <!--<input ng-model="user.id" class="form-control" id="id" name="id"-->
                       <!--placeholder="ID" required/>-->

                <!--<div class="alert alert-danger" role="alert" ng-show="editform.id.$error.required">-->
                    <!--<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>-->
                    <!--<span class="sr-only">Error:</span>-->
                    <!--Username is Required!-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <!-- Sidebar content-->
                <label for="username">Username :</label>
                <input ng-model="user.username" class="form-control" id="username" name="username"
                       placeholder="Username" required/>

                <div class="alert alert-danger" role="alert" ng-show="editform.username.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Username is Required!
                </div>
            </div>
            <div ng-controller='Ctrl'>
                <div class="form-group">
                    <label for="password">Password :</label>
                    <input ng-model="user.password" class="form-control" id="password"
                           placeholder="Password" name="password" type="password" ng-minlength="8" required/>

                    <div class="alert alert-danger" role="alert" ng-show="editform.password.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        Password is Required!
                    </div>
                    <div class="alert alert-danger" role="alert" ng-show="editform.password.$error.minlength"  >
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        Password must more than 8 digit
                    </div>

                </div>
                <div class="form-group">
                    <label for="repassword">Re-Password :</label>
                    <input ng-model="user.repassword" class="form-control" id="repassword"
                           placeholder="rePassword" name="repassword" type="password" required nx-equal="user.password"/>

                    <div class="alert alert-danger" role="alert" ng-show="editform.repassword.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        RePassword is Required!
                    </div>
                    <div class="alert alert-danger" ng-show="editform.repassword.$error.nxEqual">Password and Re-password Must be equal!</div>

                </div>

            </div>
            <div class="form-group">
                <label for="name">Name :</label>
                <input ng-model="user.name" name="name" class="form-control" id="name"
                       placeholder="Name" required/>

                <div class="alert alert-danger" role="alert" ng-show="editform.name.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Name is Required!
                </div>
            </div>

            <div class="form-group">
                <!-- Sidebar content-->
                <label for="email">Email :</label>
                <input ng-model="user.email" class="form-control" id="email" name="email"
                       placeholder="Email" type="email" required/>

                <div class="alert alert-danger" role="alert" ng-show="editform.email.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Email is Required!
                </div>
                <div class="alert alert-danger" role="alert" ng-show="editform.email.$error.email">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Invalid format of e-mail
                </div>
            </div>


            <label ng-hide="isEdit">
                <input type="radio" ng-model="user.role.roleName" value="admin" name="admin">
                Admin
            </label><br/>

            <label ng-hide="isEdit">
                <input type="radio" ng-model="user.role.roleName" value="user" name="user">
                User
            </label><br/>



            <button type="submit" class="btn btn-default" ng-click="editUser()">Update!!</button>
            <button type="submit" class="btn btn-default" ng-click="deleteUser()">Delete!!</button>



        </form>
    </div>
</div>
