<br><br><br><br>
<body id="top">
<div id="content">
    <div class="container">

        <div class="row">

            <div class="col-md-3 sidebar">
                <div class="widget-white favorite">
                    <a href="" ng-click="addFavorite(apartment)">
                        <i class="fa fa-heart"></i>
                        Add to favorite
                    </a>
                </div>
                <div class="widget-white favorite">
                    <a href="" ng-click="addCompare(apartment)">
                        <i class="fa fa-files-o"></i>
                        Add to Compare
                    </a>
                </div>
                <div class="widget widget-sidebar widget-white">
                    <div class="widget-header">
                        <h3>How many month of stay</h3>
                    </div>
                    <ul>
                        <li>
                            <input class="long" ng-model="month" id="month" name="month"
                                   placeholder="Input number of month" required/><br><br>
                            <!--<label ng-hide="apartment.apartmentName" for="apartmentName" generated="true" class="error">enter number</label>-->
                            <a href="" class="signup"

                               ng-click="count = count + 1" ng-init="count=0"> Calculate </a>


                            <div ng-if="count >=1">
                                <h6>Deposit : {{apartment.deposit}} baht</h6>

                                <h6>Rental Fee : {{apartment.rentalFee}} baht per month</h6>

                                <h6>Number of month for prepaid price: : {{apartment.numberOfMonthForprepaid}}
                                    month</h6>

                                <h6>Prepaid : {{apartment.numberOfMonthForprepaid*apartment.rentalFee}}</h6>

                                <h6>Total price before move in :
                                    {{(apartment.numberOfMonthForprepaid*apartment.rentalFee)+apartment.deposit}}</h6>

                                <h6>Total price per year : {{apartment.rentalFee*12}}</h6>

                                <h6>Total cost for the whole stay :
                                    {{(apartment.rentalFee*month)+apartment.deposit}}</h6>
                                <!--<h6>Total Pay :-->
                                <!--{{apartment.deposit+(apartment.rentalFee*apartment.numberOfMonthForprepaid*month)+apartment.internetFee}}-->
                                <!--bath</h6>-->
                            </div>
                        </li>

                    </ul>
                </div>

                <div class="widget widget-sidebar widget-white">
                    <div class="widget-header">
                        <h3>Contract Agent</h3>
                    </div>

                    <img style="width : 100%;height: 100% " alt="the team - mikha realestate theme"
                         src="templateResource/img/team01.jpg">

                    <div class="team-description">
                        <h3>{{apartment.contractPerson}}</h3>

                        <span>
<i class="fa fa-envelope-o">
    {{apartment.email}}
</i>

</span>

<span>
<i class="fa fa-phone">
    {{apartment.telephoneNumber}}
</i>

</span>


                    </div>
                </div>

            </div>
            <!-- begin:article -->
            <div class="col-md-9 ">
                <div class="row">
                    <div class="col-md-12 single-post">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active" ng-click="loadMap"><a href="#detail" data-toggle="tab" target="_blank"><i
                                    class="fa fa-university"></i>
                                Property Detail</a></li>
                            <li class="" ng-click="loadMap"><a href="#location" data-toggle="tab" target="_blank"><i
                                    class="fa fa-paper-plane-o"></i>
                                Property
                                Location</a></li>
                        </ul>


                        <div class="tab-content">


                            <div class="tab-pane fade in active" id="detail">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2>{{apartment.apartmentName}}</h2>

                                        <div id="slider-property" class="carousel slide" data-ride="carousel">
                                            <ol class="carousel-indicators">
                                                <li data-target="#slider-property" data-slide-to="{{$index}}"
                                                    class="active">
                                                    <img ng-src="data:{{apartment.photos[0].contentType}};base64,{{apartment.photos[0].content}}"
                                                         alt="">
                                                </li>
                                                <li data-target="#slider-property" data-slide-to="{{$index+1}}"
                                                    ng-repeat="photo in apartment.photos |startFrom:1">
                                                    <img ng-src="data:{{photo.contentType}};base64,{{photo.content}}"
                                                         alt="">
                                                </li>
                                            </ol>
                                            <div class="carousel-inner">
                                                <div class="item active">
                                                    <img ng-src="data:{{apartment.photos[0].contentType}};base64,{{apartment.photos[0].content}}"
                                                         alt="">
                                                </div>
                                                <div class="item" ng-repeat="photo in apartment.photos |startFrom:1">
                                                    <img ng-src="data:{{photo.contentType}};base64,{{photo.content}}"
                                                         alt="">
                                                </div>
                                            </div>
                                            <a class="left carousel-control"
                                               href="#/showApartment/{{apartment.id}}#slider-property"
                                               data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>
                                            <a class="right carousel-control"
                                               href="#/showApartment/{{apartment.id}}#slider-property"
                                               data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>
                                        </div>
                                        <h3>Property Overview</h3>
                                        <table class="table table-bordered">
                                            <tr>
                                                <td><strong>Deposit</strong></td>
                                                <td>{{apartment.deposit}} bath.</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Price</strong></td>
                                                <td>{{apartment.rentalFee}} bath per months</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Type</strong></td>
                                                <td>{{apartment.typeOfApartment}}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Contract</strong></td>
                                                <td>{{apartment.contractPerson}}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Telephone</strong></td>
                                                <td>{{apartment.telephoneNumber}}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Email</strong></td>
                                                <td>{{apartment.email}}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Location</strong></td>
                                                <td>{{apartment.addressNo}} {{apartment.street}}
                                                    {{apartment.subDistrict}}
                                                    {{apartment.district}}
                                                    {{apartment.city}}
                                                    {{apartment.zipCode}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><strong>Bedrooms</strong></td>
                                                <td>{{apartment.numberOfBedroom}}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Area</strong></td>
                                                <td>{{apartment.roomsize}}m<sup>2</sup></td>
                                            </tr>
                                        </table>
                                        <h3>Property Features</h3>

                                        <div class="row">
                                            <div class="col-md-4 col-sm-4">
                                                <ul>
                                                    <li><i ng-hide="airCondition" class="fa fa-times"
                                                           style="color:#d11f2a"></i><i
                                                            ng-show="airCondition" class="fa fa-check"
                                                            style="color:#1fd122"></i> Air
                                                        conditioning
                                                    </li>
                                                    <li><i ng-hide="Fan" class="fa fa-times"
                                                           style="color:#d11f2a"></i><i ng-show="Fan"
                                                                                        class="fa fa-check"
                                                                                        style="color:#1fd122"></i>
                                                        Fan
                                                    </li>
                                                    <li><i ng-hide="Waterheater" class="fa fa-times"
                                                           style="color:#d11f2a"></i><i
                                                            ng-show="Waterheater" class="fa fa-check"
                                                            style="color:#1fd122"></i> Water heater
                                                    </li>
                                                    <li><i ng-hide="Bed" class="fa fa-times"
                                                           style="color:#d11f2a"></i><i ng-show="Bed"
                                                                                        class="fa fa-check"
                                                                                        style="color:#1fd122"></i>Bed
                                                    </li>
                                                    <li><i ng-hide="Beddingset" class="fa fa-times"
                                                           style="color:#d11f2a"></i><i
                                                            ng-show="Beddingset" class="fa fa-check"
                                                            style="color:#1fd122"></i>Beddingset
                                                    </li>
                                                    <li><i ng-hide="Desk" class="fa fa-times" style="color:#d11f2a"></i><i
                                                            ng-show="Desk"
                                                            class="fa fa-check" style="color:#1fd122"></i>Desk
                                                    </li>
                                                    <li><i ng-hide="Dressingtable" class="fa fa-times"
                                                           style="color:#d11f2a"></i><i
                                                            ng-show="Dressingtable" class="fa fa-check"
                                                            style="color:#1fd122"></i>
                                                        Dressingtable
                                                    </li>
                                                    <li><i ng-hide="Closet" class="fa fa-times"
                                                           style="color:#d11f2a"></i><i ng-show="Closet"
                                                                                        class="fa fa-check"
                                                                                        style="color:#1fd122"></i>
                                                        Closet
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <ul>
                                                    <li><i ng-hide="Securityguard" class="fa fa-times"
                                                           style="color:#d11f2a"></i><i
                                                            ng-show="Securityguard" class="fa fa-check"
                                                            style="color:#1fd122"></i>
                                                        Securityguard
                                                    </li>
                                                    <li><i ng-hide="Fingerprintsecurity" class="fa fa-times"
                                                           style="color:#d11f2a"></i><i
                                                            ng-show="Fingerprintsecurity" class="fa fa-check"
                                                            style="color:#1fd122"></i>
                                                        Fingerprintsecurity
                                                    </li>
                                                    <li><i ng-hide="Keycard" class="fa fa-times"
                                                           style="color:#d11f2a"></i><i
                                                            ng-show="Keycard" class="fa fa-check"
                                                            style="color:#1fd122"></i> Keycard
                                                    </li>
                                                    <li><i ng-hide="Microwave" class="fa fa-times"
                                                           style="color:#d11f2a"></i><i
                                                            ng-show="Microwave" class="fa fa-check"
                                                            style="color:#1fd122"></i> Microwave
                                                    </li>
                                                    <li><i ng-hide="Sink" class="fa fa-times" style="color:#d11f2a"></i><i
                                                            ng-show="Sink"
                                                            class="fa fa-check" style="color:#1fd122"></i>
                                                        Sink
                                                    </li>
                                                    <li><i ng-hide="CableTV" class="fa fa-times"
                                                           style="color:#d11f2a"></i><i
                                                            ng-show="CableTV" class="fa fa-check"
                                                            style="color:#1fd122"></i> CableTV
                                                    </li>
                                                    <li><i ng-hide="Telephone" class="fa fa-times"
                                                           style="color:#d11f2a"></i><i
                                                            ng-show="Telephone" class="fa fa-check"
                                                            style="color:#1fd122"></i> Telephone
                                                    </li>
                                                    <li><i ng-hide="Internet" class="fa fa-times"
                                                           style="color:#d11f2a"></i><i
                                                            ng-show="Internet" class="fa fa-check"
                                                            style="color:#1fd122"></i> Internet
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <ul>
                                                    <li><i ng-hide="Petallowed" class="fa fa-times"
                                                           style="color:#d11f2a"></i><i
                                                            ng-show="Petallowed" class="fa fa-check"
                                                            style="color:#1fd122"></i> Pet allowed
                                                    </li>
                                                    <li><i ng-hide="Smokingallowed" class="fa fa-times"
                                                           style="color:#d11f2a"></i><i
                                                            ng-show="Smokingallowed" class="fa fa-check"
                                                            style="color:#1fd122"></i>Smoking
                                                        allowed
                                                    </li>
                                                    <li><i ng-hide="Parking" class="fa fa-times"
                                                           style="color:#d11f2a"></i><i
                                                            ng-show="Parking" class="fa fa-check"
                                                            style="color:#1fd122"></i> Parking
                                                    </li>
                                                    <li><i ng-hide="Elevator" class="fa fa-times"
                                                           style="color:#d11f2a"></i><i
                                                            ng-show="Elevator" class="fa fa-check"
                                                            style="color:#1fd122"></i> Elevator
                                                    </li>
                                                    <li><i ng-hide="InternetCafe" class="fa fa-times"
                                                           style="color:#d11f2a"></i><i
                                                            ng-show="InternetCafe" class="fa fa-check"
                                                            style="color:#1fd122"></i> InternetCafe
                                                    </li>
                                                    <li><i ng-hide="CCTV" class="fa fa-times" style="color:#d11f2a"></i><i
                                                            ng-show="CCTV"
                                                            class="fa fa-check" style="color:#1fd122"></i>
                                                        CCTV
                                                    </li>
                                                    <li><i ng-hide="Swimmingpool" class="fa fa-times"
                                                           style="color:#d11f2a"></i><i
                                                            ng-show="Swimmingpool" class="fa fa-check"
                                                            style="color:#1fd122"></i>Swimming pool
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>

                                        <h3>Property Description</h3>

                                        <p>{{apartment.detail}}</p>

                                    </div>
                                </div>
                                <!--<map zoom="4" center="-25.363882, 131.044922" >-->
                                <!--<marker position="-25.363882, 131.044922" on-click="click()" title="Click to zoom"></marker>-->
                                <!--</map>-->
                            </div>

                            <div class="tab-pane fade" id="location">

                                <div class="row">
                                    <div class="col-md-12">
                                        <!--<div id="map-property"></div>-->
                                        <map zoom="4" center="-25.363882, 131.044922">
                                            <marker position="-25.363882, 131.044922" on-click="click()"
                                                    title="Click to zoom"></marker>
                                        </map>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <h3>Comment</h3>

                            <form>
                                <div class="form-group">
                                    <!--<label for="comment">Comment:</label>-->
                                <textarea class="form-control" rows="5" id="comment" ng-model="zz"
                                          placeholder="Leave the question..."></textarea>
                                </div>

                                <button type="submit" class="btn btn-info" ng-click="addMessage(zz)">Comment
                                </button>

                            </form>

                            <div class="blog-comment">


                                <ul class="comments" ng-repeat="message in messages  | filter:{messageContent : ''}">
                                    <li class="clearfix">
                                        <img src="templateResource/img/usericon.png" class="avatar"
                                             alt="danish personal blog and magazine template">

                                        <div class="post-comments">
                                            <p class="meta"><!--Dec 18, 2014--> <a href="">{{message.nameofuser}}</a>
                                                says : <i
                                                        class="pull-right"><a href="#">
                                                    <a href="" ng-click="count = count + 1" ng-init="count=0"><u>
                                                        <small>Reply</small>
                                                    </u></a>

                                                </a><a href="" ng-click="addChat(message)"><u>
                                                    <small> {{"inbox"}}</small>
                                                </u></a>
                                                    </span>
                                                <span style="color:blue"> <span ng-show="hasRole('Administrator')"><a
                                                        ng-href="#/showApartment/{{apartment.id}}"><span
                                                        class="glyphicon glyphicon-remove-circle" aria-hidden="true"
                                                        ng-click="deleteMessage(message.id)"></span></a>
                    </span></span></i></p>

                                            <p>
                                                {{message.messageContent}}<br><font size="1">{{message.date|
                                                date:'medium'}}</font>
                                            </p>

                                            <div ng-if="count%2==1">
                                                <form>
                                                    <div class="form-group">
                                                        <!--<label for="comment">Comment:</label>-->
                                                        <textarea class="form-control" rows="1" id="reply"
                                                                  ng-model="message.replymessage"
                                                                  placeholder="Leave the question..."></textarea>
                                                    </div>

                                                    <button type="submit" class="btn btn-info"
                                                            ng-click="addReply(message)">Reply
                                                    </button>

                                                </form>
                                            </div>
                                        </div>
                                        <!--<span ng-bind="message.nameofuser" style="color:blue"></span>-->
                                        <!--<span ng-if="message.userid == apartment.knowuserid">-->
                                        <!--{{apartment.user.id}}-->
                                        <!--{{"(Owner)"}}-->
                                        <!--</span>-->

                                        <ul class="comments" ng-repeat="x in messages ">
                                            <span ng-if="message.id == x.replyid">

                                            <li class="clearfix">
                                                <img src="templateResource/img/usericon.png" class="avatar"
                                                     alt="danish personal blog and magazine template">

                                                <div class="post-comments">
                                                    <p class="meta"><a href="#">{{x.nameofuser}}</a> says : <i
                                                            class="pull-right"><a href="#">

                                                    </a></i></p>

                                                    <p>
                                                        {{x.replymessage}}<br><font size="1">{{x.date|
                                                        date:'medium'}}</font>
                                                    </p>
                                                </div>
                                            </li>
                                            </span>
                                        </ul>
                                    </li>

                                </ul>

                            </div>
                        </div>

                    </div>


                    <!--<div class="panel panel-default">-->
                    <!--&lt;!&ndash; Default panel contents &ndash;&gt;-->
                    <!--<div class="panel-heading">ข้อมูลเบี้องต้น</div>-->
                    <!--<div class="panel-body">-->
                    <!--<div class="col-lg-4">-->
                    <!--<h3> Apartment Name : {{apartment.apartmentName}}</h3>-->

                    <!--<h3>Type of Apartment : {{apartment.typeOfApartment}}</h3>-->

                    <!--<h3>Contract Person : {{apartment.contractPerson}}</h3>-->

                    <!--<h3>Tel : {{apartment.telephoneNumber}}</h3>-->

                    <!--<h3>Email : {{apartment.email}}</h3>-->

                    <!--<h3>{{apartment.addressNo}} {{apartment.street}}-->
                    <!--{{apartment.subDistrict}}-->
                    <!--{{apartment.district}}-->
                    <!--{{apartment.city}}-->
                    <!--{{apartment.zipCode}} </h3>-->
                    <!--<span style="color:blue" >-->

                    <!--<a href="" ng-click="addChat(user)"><u> {{"inbox"}}</u></a>-->
                    <!--</span>-->
                    <!--</div>-->

                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="panel panel-default">-->
                    <!--&lt;!&ndash; Default panel contents &ndash;&gt;-->
                    <!--<div class="panel-heading">แผนที่</div>-->
                    <!--<div class="panel-body">-->
                    <!--<div class="col-lg-4">-->


                    <!--</div>-->

                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="panel panel-default">-->
                    <!--&lt;!&ndash; Default panel contents &ndash;&gt;-->
                    <!--<div class="panel-heading">ภาพถ่าย</div>-->
                    <!--<div class="panel-body">-->
                    <!--<div class="col-lg-4">-->

                    <!--<td>-->
                    <!--<div ng-repeat="photo in apartment.photos" class="text-center">-->
                    <!--<img ng-src="data:{{photo.contentType}};base64,{{photo.content}}" class="thumbnail">-->
                    <!--</div>-->
                    <!--</td>-->

                    <!--</div>-->

                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="panel panel-default">-->
                    <!--&lt;!&ndash; Default panel contents &ndash;&gt;-->
                    <!--<div class="panel-heading">รายละเอียด</div>-->
                    <!--<div class="panel-body">-->
                    <!--<div class="col-lg-4">-->
                    <!--<h3>Facilities : {{apartment.facilities}}</h3>-->

                    <!--<h3>Type of Room : {{apartment.typeOfRoom}}</h3>-->

                    <!--<h3>Bed room : {{apartment.numberOfBedroom}}</h3>-->

                    <!--<h3>Rooom size : {{apartment.roomsize}}</h3>-->

                    <!--<h3>Rental fee : {{apartment.rentalFee}}</h3>-->

                    <!--<h3>Deposit : {{apartment.deposit}}</h3>-->

                    <!--<h3>Number of month for prepaid : {{apartment.numberOfMonthForprepaid}}</h3>-->

                    <!--<h3>ElectricFee : {{apartment.electricFee}}</h3>-->

                    <!--<h3>Water fee : {{apartment.waterFee}}</h3>-->

                    <!--<h3>Telephone fee : {{apartment.telephoneFee}}</h3>-->

                    <!--<h3>Internet fee : {{apartment.internetFee}}</h3>-->

                    <!--<h3>Type of internet : {{apartment.typeOfInternet}}</h3>-->
                    <!--</div>-->

                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="panel panel-default">-->
                    <!--&lt;!&ndash; Default panel contents &ndash;&gt;-->
                    <!--<div class="panel-heading">รายละเอียดเพิ่มเติม</div>-->
                    <!--<div class="panel-body">-->
                    <!--<div class="col-lg-4">-->
                    <!--<h3>{{apartment.detail}}</h3>-->
                    <!--</div>-->

                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="panel panel-default">-->
                    <!--&lt;!&ndash; Default panel contents &ndash;&gt;-->
                    <!--<div class="panel-heading">Estimate Total cost</div>-->
                    <!--<div class="panel-body">-->

                    <!--<label for="month">How many month of stay</label>-->
                    <!--<input class="long" ng-model="month" id="month" name="month" required/>-->
                    <!--&lt;!&ndash;<label ng-hide="apartment.apartmentName" for="apartmentName" generated="true" class="error">enter number</label>&ndash;&gt;-->

                    <!--<button ng-click="count = count + 1" ng-init="count=0">-->
                    <!--Calculate-->
                    <!--</button>-->

                    <!--<div ng-if="count >=1">-->
                    <!--<h3>Deposit : {{apartment.deposit}} baht</h3>-->

                    <!--<h3>Rental Fee : {{apartment.rentalFee}} baht per month</h3>-->

                    <!--<h3>Prepaid : {{apartment.numberOfMonthForprepaid}} month</h3>-->

                    <!--<h3>Internet Fee : {{apartment.internetFee}} bath per month</h3>-->

                    <!--<h3>Total Pay :-->
                    <!--{{apartment.deposit+(apartment.rentalFee*apartment.numberOfMonthForprepaid*month)+apartment.internetFee}}-->
                    <!--bath</h3>-->

                    <!--</div>-->


                    <!--</div>-->
                    <!--</div>-->


                    <!--<div class="panel panel-default" >-->
                    <!--&lt;!&ndash; Default panel contents &ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="panel-heading">Comment</div>&ndash;&gt;-->
                    <!--<h4>Comment</h4>-->
                    <!--<div class="panel-body">-->

                    <!--<form>-->
                    <!--<div class="form-group">-->
                    <!--&lt;!&ndash;<label for="comment">Comment:</label>&ndash;&gt;-->
                    <!--<textarea class="form-control" rows="5" id="comment2" ng-model="message.message"-->
                    <!--placeholder="Leave the question..."></textarea>-->
                    <!--</div>-->

                    <!--<button type="submit" class="btn btn-default" ng-click="addMessage(message)">Send-->
                    <!--</button>-->

                    <!--</form>-->
                    <!--<br>-->

                    <!--<div class="panel panel-default" ng-repeat="message in messages ">-->
                    <!--<div class="panel-body">-->


                    <!--<span ng-bind="message.nameofuser" style="color:blue"></span>-->
                    <!--<span ng-if="message.userid == apartment.knowuserid">-->
                    <!--{{apartment.user.id}}-->
                    <!--{{"(Owner)"}}-->
                    <!--</span>-->


                    <!--said :-->

                    <!--<span ng-bind="message.message"></span>-->

                    <!--<ul class="nav navbar-nav navbar-right">-->
                    <!--<li><span ng-show="hasRole('Administrator')"><a-->
                    <!--ng-href="#/showApartment/{{apartment.id}}"><span-->
                    <!--class="glyphicon glyphicon-remove-circle" aria-hidden="true"-->
                    <!--ng-click="deleteMessage(message.id)"></span></a>-->
                    <!--</span></li>-->
                    <!--<li>&nbsp;&nbsp;</li>-->
                    <!--</ul>-->
                    <!--<br><br>-->
                    <!--<span style="color:blue">-->

                    <!--<a href="" ng-click="addChat(message)"><u> {{"inbox"}}</u></a>-->
                    <!--</span>-->
                    <!--<span style="color:blue">-->

                    <!--<a><u> {{"reply"}}</u></a>-->
                    <!--</span>-->
                    <!--<br>-->

                    <!--</div>-->

                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>
</body>