<br><br><br><br><br>
<div class="row-fluid">

    <h1>Profile</h1>

    <div class="col-md-4">
        <form name="editform" novalidate flow-init>
            <!--<div class="form-group">-->
            <!--&lt;!&ndash; Sidebar content&ndash;&gt;-->
            <!--<label for="username">ID :</label>-->
            <!--<input ng-model="user.id" class="form-control" id="id" name="id"-->
            <!--placeholder="ID" required/>-->

            <!--<div class="alert alert-danger" role="alert" ng-show="editform.id.$error.required">-->
            <!--<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>-->
            <!--<span class="sr-only">Error:</span>-->
            <!--Username is Required!-->
            <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <!-- Sidebar content-->
                <label>Username :{{user.username}}</label>
                <br>
                <label>Password :</label>


                <label>Name :{{user.name}}</label>

                <br>
                <label>Email :{{user.email}}</label>

                <br>


                <label>Role :{{user.role.roleName}}</label>


<br>
                <a href="#/profile">
                    <button type="submit" class="btn btn-default">Update</button>
                </a>
                <button type="submit" class="btn btn-default" ng-click="deleteUser()">Delete</button>


        </form>
    </div>
</div>
