.sample-show-hide {
    padding:10px;
    border:1px solid black;
    background:white;
}

.sample-show-hide {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.sample-show-hide.ng-hide {
    opacity:0;
}